.frame{
    display: flex;  /*讓下一層次的項目水平排列*/

}
.left{
    background-color: red;
    flex: none; /*固定配置*/
    width: 200px;
}

.right{
    display: flex;  /*讓下一層次的項目水平排列*/
    justify-content: flex-end; /*水平靠右對齊*/
    background-color: blue;
    /*flex: none; !*固定配置*!*/
    /*width: 50%;*/
    flex: auto; /*自動把剩下的空間填滿 所以可以不用設定寬度*/
}
.item{
    background-color: gray;
    flex: none;
    width: 200px;
    margin-right:10px; /*讓每個項目右邊都留10px的空間*/

    text-align: center; /*讓文字置中*/
}

.welcome{
    display: flex;
    justify-content: center; /*水平置中*/
    align-items: center; /*垂直置中*/
    height: 300px;
    background-color: #cccccc;
}

.text{
    width: 300px; height:40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}